.logo{
    height: 100px;
    width: 200px;
}

.card {
    max-width: 544px;
}

.img-post {
    max-width: 544px;
    max-height: 222px;
}

/* Mobile */
@media only screen and (max-width: 574px) {
    .img-post {
        width: 322px;
        height: 161px;
    }

  }

  .container-width{
    width: 25%;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    .container-width {
      width: 75%;
    }
  }

a {
    color: rgb(108, 108, 108);
    text-decoration: none;
}
a:hover {
    color: rgb(160, 160, 160);
    text-decoration: none;
}